[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alex-snape-test
[access "refs/for/refs/*"]
	read = group user/alex-snape-test
	push = group user/alex-snape-test
	label-Code-Review = -2..+2 group user/alex-snape-test
	label-Verified = -1..+1 group user/alex-snape-test
	rebase = group user/alex-snape-test
	removeReviewer = group user/alex-snape-test
	submit = group user/alex-snape-test
[access "refs/heads/*"]
	read = group user/alex-snape-test
	create = group user/alex-snape-test
	push = +force group user/alex-snape-test
	pushMerge = group user/alex-snape-test
[access "refs/tags/*"]
	push = +force group user/alex-snape-test
	pushTag = group user/alex-snape-test
	pushSignedTag = group user/alex-snape-test
